.container {
	width: 100%;
	z-index: 2;
}

.stepper {
	padding: 10px;
	.stepper-inner {
		background-color: var(--white);
		padding: 70px 16px;
		overflow: hidden;
		z-index: 1;
		position: relative;

		.stepper-icon {
			font-size: 40px;
			width: 40px;
			height: 40px;
			color: var(--green);
			background-color: var(--white);
		}

		.stepper-contain {
			margin: 60px auto 0 auto;
			max-width: 100%;
			width: 530px;
		}

		.lang-box {
			text-align: right;
			position: absolute;
			top: 20px;
			right: 20px;
	
			.lang-select {
				display: inline-block;
				min-width: 95px;
			}
		}

		.title-txt {
			font-size: 24px;
			font-weight: 400;
			text-align: center;
			margin: 0 0 24px;
		}
		.form-fields {
			margin: -8px;
		}
		.field-row {
			display: flex;
			flex-flow: wrap;

			.field-box {
				padding: 8px;
				width: 50%;

				&.full {
					width: 100%;
				}

				input {
					font-size: 16px;
					font-family: var(--base-font);
					border: solid 1px var(--gray-50);
					border-radius: 5px;
					padding: 0 16px;
					outline: none;
					height: 40px;
					width: 100%;
					&.field-error {
						border-color: var(--red);
					}
				}

				.code {
					position: relative;

					mat-icon,
					img {
						position: absolute;
						right: 8px;
						top: 4px;
					}

					.success-icon {
						color: var(--green);
						display: none;
						font-size: 32px;
						width: 32px;
						height: 32px;
					}

					input {
						text-align: center;

						&.success {
							background-color: var(--green-50);
							border-color: var(--green);

							~ {
								mat-icon {
									display: block;
								}
							}
						}

						&.error {
							background-color: var(--red-50);
						}
					}
				}
			}
		}
		.btn-box {
			margin-top: 32px;
			display: flex;
		}

		.common-btn {
			
			font-family: var(--base-font);
			font-size: 16px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			padding: 0 16px;
			height: 40px;
			line-height: 40px;
			min-width: 100px;

			&.next-btn {
				background-color: var(--black);
				color: var(--white);	
				margin-left: auto;
			}

			&.back-btn {
				background-color: var(--light-gray);
				color: var(--black);
			}

			&:disabled {
				background-color: var(--gray-100);
				color: var(--black);
				cursor: not-allowed;
			}

			&.disable-pointer {
				pointer-events: none;
			}
		}

		.success-box {
			border-radius: 5px;

			.success-title {
				text-align: center;
				margin-bottom: 20px;
				color: var(--green);
				font-weight: 700;
				font-size: 24px;
			}

			.success-description {
				font-size: 19px;
				line-height: 23px;
				text-align: center;
			}

			.mb-20 {
				margin-bottom: 20px;
			}

			.order-link {
				text-decoration: none;
				font-weight: 600;
				color: var(--orange);
			}
		}
	}
}

@media (max-width: 991px) {
	.stepper {
		.stepper-inner {
			border-radius: 24px;
			padding: 50px 16px;

			.stepper-contain {
				margin: 50px auto 0 auto;
			}

			.title-txt {
				font-size: 22px;
			}
			.field-row {
				.field-box {
					input {
						font-size: 15px;
					}
				}
			}
			.btn-box {
				margin-top: 28px;
			}

			.common-btn {
				font-size: 15px;
			}

			.success-box {
				padding: 50px;

				.success-title {
					font-size: 22px;
				}

				.success-description {
					font-size: 17px;
					line-height: 21px;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.stepper {
		padding-bottom: 16px;
		.stepper-inner {
			border-radius: 16px;
			padding: 24px 16px 16px 16px;

			.stepper-contain {
				margin: 32px auto 0 auto;
			}

			.title-txt {
				font-size: 20px;
			}
			.field-row {
				.field-box {
					input {
						font-size: 14px;
					}
				}
			}
			.btn-box {
				margin-top: 24px;
			}

			.common-btn {
				font-size: 14px;
			}

			.success-box {
				padding: 30px;

				.success-title {
					font-size: 20px;
				}

				.success-description {
					font-size: 16px;
					line-height: 20px;
				}
			}
		}
	}
}
@media (max-width: 575px) {
	.stepper {
		.stepper-inner {
			border-radius: 8px;
			padding: 16px;

			.lang-box {
				position: relative;
				top: -10px;
				right: -10px;
			}

			.stepper-contain {
				margin: 25px auto 0 auto;
			}

			.title-txt {
				font-size: 18px;
				margin: 0 0 16px;
			}
			.field-row {
				.field-box {
					width: 100%;
				}
			}
			.btn-box {
				margin-top: 16px;
			}

			.common-btn {
				font-size: 14px;
			}

			.success-box {
				padding: 16px;

				.success-title {
					font-size: 18px;
				}

				.success-description {
					font-size: 16px;
					line-height: 20px;
				}
			}
		}
	}
}
